<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
    <!-- Common Strings -->
    <!-- <ManosabaSettings_yukiNameDef>月代雪</ManosabaSettings_yukiNameDef> -->
    <ManosabaSettings_yukiNameDef>Yuki Tsukishiro</ManosabaSettings_yukiNameDef>
    <!-- <ManosabaSettings_activatedChoice>已启用</ManosabaSettings_activatedChoice> -->
    <ManosabaSettings_activatedChoice>Enabled</ManosabaSettings_activatedChoice>
    <!-- <ManosabaSettings_deactivatedChoice>已禁用</ManosabaSettings_deactivatedChoice> -->
    <ManosabaSettings_deactivatedChoice>Disabled</ManosabaSettings_deactivatedChoice>


    <!-- Settings Tabs -->
    <!-- <ManosabaSettings_ModName>魔女因子设置（魔法少女的魔女审判拓展）</ManosabaSettings_ModName> -->
    <ManosabaSettings_ModName>Witch's Factor Settings (Magical Girl's Witch Trial Expansion)</ManosabaSettings_ModName>
    <!-- <ManosabaSettings_GeneralTab>一般设置</ManosabaSettings_GeneralTab> -->
    <ManosabaSettings_GeneralTab>General</ManosabaSettings_GeneralTab>
    <!-- <ManosabaSettings_ProgressTab>魔女化设置</ManosabaSettings_ProgressTab> -->
    <ManosabaSettings_ProgressTab>Transformation</ManosabaSettings_ProgressTab>
    <!-- <ManosabaSettings_HealingTab>疗愈设置</ManosabaSettings_HealingTab> -->
    <ManosabaSettings_HealingTab>Healing</ManosabaSettings_HealingTab>
    <!-- <ManosabaSettings_RitualTab>仪式设置</ManosabaSettings_RitualTab> -->
    <ManosabaSettings_RitualTab>Rituals</ManosabaSettings_RitualTab>
    <!-- <ManosabaSettings_MiscTab>其他设置</ManosabaSettings_MiscTab> -->
    <ManosabaSettings_MiscTab>Misc</ManosabaSettings_MiscTab>


    <!-- General Tab -->
    <!-- <ManosabaSettings_isShowProgress>显示魔女化数值</ManosabaSettings_isShowProgress> -->
    <ManosabaSettings_isShowProgress>Show witch transformation value</ManosabaSettings_isShowProgress>
    <!-- <ManosabaSettings_isShowProgress_Desc_1>Hediff 中将显示魔女化具体数值，如"魔女因子(轻度,50%)"</ManosabaSettings_isShowProgress_Desc_1> -->
    <ManosabaSettings_isShowProgress_Desc_1>Hediff will show specific witch transformation values, e.g., "Witch's factor (minor, 50%)"</ManosabaSettings_isShowProgress_Desc_1>
    <!-- <ManosabaSettings_isShowProgress_Desc_1_disable>Hediff 中仅显示魔女化大致进度，如"魔女因子(轻度)" [默认选项]</ManosabaSettings_isShowProgress_Desc_1_disable> -->
    <ManosabaSettings_isShowProgress_Desc_1_disable>Hediff will only show the rough stage, e.g., "Witch's factor (minor)" [Default]</ManosabaSettings_isShowProgress_Desc_1_disable>
    <!-- <ManosabaSettings_isShowProgress_Desc_2>• 魔女因子未被发现时，仍不会出现 Hediff 且不显示数值进度</ManosabaSettings_isShowProgress_Desc_2> -->
    <ManosabaSettings_isShowProgress_Desc_2>• When the witch's factor is undiscovered, neither the Hediff nor the numerical progress will be shown.</ManosabaSettings_isShowProgress_Desc_2>
    <!-- <ManosabaSettings_debugMode>调试模式</ManosabaSettings_debugMode> -->
    <ManosabaSettings_debugMode>Debug mode</ManosabaSettings_debugMode>
    <!-- <ManosabaSettings_debugMode_Desc>• 启用时在控制台输出调试信息</ManosabaSettings_debugMode_Desc> -->
    <ManosabaSettings_debugMode_Desc>• Enable to output debug info to the console.</ManosabaSettings_debugMode_Desc>
    <!-- <ManosabaSettings_GeneralPanelTitle>魔女化进度预览面板</ManosabaSettings_GeneralPanelTitle> -->
    <ManosabaSettings_GeneralPanelTitle>Witch transformation progress preview panel</ManosabaSettings_GeneralPanelTitle>
    <!-- <ManosabaSettings_GeneralPanel_Desc_1>• 预览魔女化进度变化量关于心情的变化曲线，\n调节右侧预览参数获取具体数值\n• 调节曲线形态的细致参数位于"魔女化设置"面板</ManosabaSettings_GeneralPanel_Desc_1> -->
    <ManosabaSettings_GeneralPanel_Desc_1>• Preview the curve of transformation progress change relative to mood.\nAdjust preview parameters on the right to obtain specific values.\n• Detailed parameters for adjusting the curve are located in the "Transformation" tab.</ManosabaSettings_GeneralPanel_Desc_1>
    <!-- <ManosabaSettings_GeneralPreviewSeverity>魔女化进度 {0}%</ManosabaSettings_GeneralPreviewSeverity> -->
    <ManosabaSettings_GeneralPreviewSeverity>Transformation progress {0}%</ManosabaSettings_GeneralPreviewSeverity>
    <!-- <ManosabaSettings_GeneralPreviewMood>心情 {0}%</ManosabaSettings_GeneralPreviewMood> -->
    <ManosabaSettings_GeneralPreviewMood>Mood {0}%</ManosabaSettings_GeneralPreviewMood>
    <!-- <ManosabaSettings_GeneralPreviewMinorThres>轻度崩溃阈值 {0}%</ManosabaSettings_GeneralPreviewMinorThres> -->
    <ManosabaSettings_GeneralPreviewMinorThres>Minor break threshold {0}%</ManosabaSettings_GeneralPreviewMinorThres>
    <!-- <ManosabaSettings_changePerDayPreview>当前每日魔女化进度变化：{0}%</ManosabaSettings_changePerDayPreview> -->
    <ManosabaSettings_changePerDayPreview>Current daily change: {0}%</ManosabaSettings_changePerDayPreview>
    <!-- <ManosabaSettings_mtbDaysPreview>当前"魔女因子杀意"精神崩溃期望周期：{0}天</ManosabaSettings_mtbDaysPreview> -->
    <ManosabaSettings_mtbDaysPreview>Current expected cycle for murderous intent break: {0} days</ManosabaSettings_mtbDaysPreview>
    <!-- <ManosabaSettings_drawIncreaseThreshold>增加阈值\n{0}%</ManosabaSettings_drawIncreaseThreshold> -->
    <ManosabaSettings_drawIncreaseThreshold>Increase\n{0}%</ManosabaSettings_drawIncreaseThreshold>
    <!-- <ManosabaSettings_drawDecreaseThreshold>减少阈值\n{0}%</ManosabaSettings_drawDecreaseThreshold> -->
    <ManosabaSettings_drawDecreaseThreshold>Decrease\n{0}%</ManosabaSettings_drawDecreaseThreshold>


    <!-- Progress Tab -->
    <!-- <ManosabaSettings_severityIncreaseFactor>魔女化增加系数：{0}% 每天</ManosabaSettings_severityIncreaseFactor> -->
    <ManosabaSettings_severityIncreaseFactor>Transformation increase factor: {0}% / day</ManosabaSettings_severityIncreaseFactor>
    <!-- <ManosabaSettings_severityIncreaseFactor_Desc>• 此系数反应心情为 0% 时，每天魔女化进度增加上限</ManosabaSettings_severityIncreaseFactor_Desc> -->
    <ManosabaSettings_severityIncreaseFactor_Desc>• This factor represents the maximum daily increase in witch transformation progress when mood is 0%.</ManosabaSettings_severityIncreaseFactor_Desc>
    <!-- <ManosabaSettings_severityDecreaseFactor>魔女化减少系数：{0}% 每天</ManosabaSettings_severityDecreaseFactor> -->
    <ManosabaSettings_severityDecreaseFactor>Transformation decrease factor: {0}% / day</ManosabaSettings_severityDecreaseFactor>
    <!-- <ManosabaSettings_severityDecreaseFactor_Desc>• 此系数反应心情为 100% 时，每天魔女化进度减少上限</ManosabaSettings_severityDecreaseFactor_Desc> -->
    <ManosabaSettings_severityDecreaseFactor_Desc>• This factor represents the maximum daily decrease in witch transformation progress when mood is 100%.</ManosabaSettings_severityDecreaseFactor_Desc>
    <!-- <ManosabaSettings_severityIncreaseBias>魔女化增加的心情偏移：{0}%</ManosabaSettings_severityIncreaseBias> -->
    <ManosabaSettings_severityIncreaseBias>Increase mood bias: {0}%</ManosabaSettings_severityIncreaseBias>
    <!-- <ManosabaSettings_severityIncreaseBias_Desc>• 此系数反应魔女化进度增加阈值相对轻度心情崩溃阈值 (默认 35) 的正偏移量</ManosabaSettings_severityIncreaseBias_Desc> -->
    <ManosabaSettings_severityIncreaseBias_Desc>• This factor represents the positive offset of the increase threshold relative to the minor mental break threshold (default 35).</ManosabaSettings_severityIncreaseBias_Desc>
    <!-- <ManosabaSettings_severityFlatBias>魔女化不变的心情区间：{0}%</ManosabaSettings_severityFlatBias> -->
    <ManosabaSettings_severityFlatBias>Stable mood interval: {0}%</ManosabaSettings_severityFlatBias>
    <!-- <ManosabaSettings_severityFlatBias_Desc>• 此系数反应魔女化进度不变的心情区间宽度</ManosabaSettings_severityFlatBias_Desc> -->
    <ManosabaSettings_severityFlatBias_Desc>• This factor represents the width of the mood interval where witch transformation progress remains unchanged.</ManosabaSettings_severityFlatBias_Desc>
    <!-- <ManosabaSettings_severityIncreaseExponent>魔女化增加指数修正：{0}</ManosabaSettings_severityIncreaseExponent> -->
    <ManosabaSettings_severityIncreaseExponent>Increase exponent modifier: {0}</ManosabaSettings_severityIncreaseExponent>
    <!-- <ManosabaSettings_severityIncreaseExponent_Desc>• （高级选项）此系数影响魔女化进度增加速率随心情恶化的加速程度</ManosabaSettings_severityIncreaseExponent_Desc> -->
    <ManosabaSettings_severityIncreaseExponent_Desc>• (Advanced) This factor affects how much the increase rate accelerates as mood worsens.</ManosabaSettings_severityIncreaseExponent_Desc>
    <!-- <ManosabaSettings_severityDecreaseExponent>魔女化减少指数修正：{0}</ManosabaSettings_severityDecreaseExponent> -->
    <ManosabaSettings_severityDecreaseExponent>Decrease exponent modifier: {0}</ManosabaSettings_severityDecreaseExponent>
    <!-- <ManosabaSettings_severityDecreaseExponent_Desc>• （高级选项）此因子反应魔女化进度减少速率随心情改善的加速程度</ManosabaSettings_severityDecreaseExponent_Desc> -->
    <ManosabaSettings_severityDecreaseExponent_Desc>• (Advanced) This factor affects how much the decrease rate accelerates as mood improves.</ManosabaSettings_severityDecreaseExponent_Desc>
    <!-- <ManosabaSettings_baseMtbDays>"魔女因子杀意"精神崩溃的基础周期：{0}天</ManosabaSettings_baseMtbDays> -->
    <ManosabaSettings_baseMtbDays>Base cycle for "Witch factor murderous intent": {0} days</ManosabaSettings_baseMtbDays>
    <!-- <ManosabaSettings_baseMtbDays_Desc_1>• 此数值为魔女化进度 50%，心情 50% 时发生"魔女因子杀意"精神崩溃的期望周期</ManosabaSettings_baseMtbDays_Desc_1> -->
    <ManosabaSettings_baseMtbDays_Desc_1>• This is the expected cycle for the "Witch factor murderous intent" mental break at 50% progress and 50% mood.</ManosabaSettings_baseMtbDays_Desc_1>
    <!-- <ManosabaSettings_baseMtbDays_Desc_2>• 实际精神崩溃的期望周期随魔女化进度以及实时心情变化，在此数值的 (1/8,8) 倍率范围波动</ManosabaSettings_baseMtbDays_Desc_2> -->
    <ManosabaSettings_baseMtbDays_Desc_2>• The actual expected cycle fluctuates between (1/8, 8) times this value, depending on witch transformation progress and real-time mood.</ManosabaSettings_baseMtbDays_Desc_2>
    <!-- <ManosabaSettings_ResetProgressTab>重置本页设置为默认值</ManosabaSettings_ResetProgressTab> -->
    <ManosabaSettings_ResetProgressTab>Reset this page to defaults</ManosabaSettings_ResetProgressTab>
    <!-- <ManosabaSettings_ProgressTabDesc>本页中系数设置的具体作用可在一般设置页的函数图表直观查看</ManosabaSettings_ProgressTabDesc> -->
    <ManosabaSettings_ProgressTabDesc>The specific effects of settings on this page can be visualized in the graph on the General settings page.</ManosabaSettings_ProgressTabDesc>


    <!-- Healing Tab -->
    <!-- <ManosabaSettings_narehateHealFactor>魔女残骸伤口自然愈合系数：{0} 点耐久/天</ManosabaSettings_narehateHealFactor> -->
    <ManosabaSettings_narehateHealFactor>Narehate natural healing factor: {0} hp/day</ManosabaSettings_narehateHealFactor>
    <!-- <ManosabaSettings_narehateHealFactor_Desc_1>• 拥有魔女残骸状态时，所有伤口会添加上述的自然愈合系数</ManosabaSettings_narehateHealFactor_Desc_1> -->
    <ManosabaSettings_narehateHealFactor_Desc_1>• When in the narehate state, the above natural healing factor is added to all wounds.</ManosabaSettings_narehateHealFactor_Desc_1>
    <!-- <ManosabaSettings_narehateHealFactor_Desc_2>• 也就是说，此时所有伤口每日都会恢复 {0} 点耐久</ManosabaSettings_narehateHealFactor_Desc_2> -->
    <ManosabaSettings_narehateHealFactor_Desc_2>• This means all wounds will recover {0} hp per day.</ManosabaSettings_narehateHealFactor_Desc_2>
    <!-- <ManosabaSettings_narehateBloodHealFactor>魔女残骸失血自然愈合系数：{0}% 每天</ManosabaSettings_narehateBloodHealFactor> -->
    <ManosabaSettings_narehateBloodHealFactor>Narehate blood loss healing factor: {0}% / day</ManosabaSettings_narehateBloodHealFactor>
    <!-- <ManosabaSettings_narehateBloodHealFactor_Desc_1>拥有魔女残骸状态时"失血"状态会额外自然愈合 {0}% 每天</ManosabaSettings_narehateBloodHealFactor_Desc_1> -->
    <ManosabaSettings_narehateBloodHealFactor_Desc_1>When in the narehate state, "Blood loss" will naturally heal an additional {0}% per day.</ManosabaSettings_narehateBloodHealFactor_Desc_1>
    <!-- <ManosabaSettings_narehateBloodHealFactor_Desc_1_Disable>"失血"状态没有额外愈合系数加成</ManosabaSettings_narehateBloodHealFactor_Desc_1_Disable> -->
    <ManosabaSettings_narehateBloodHealFactor_Desc_1_Disable>No extra healing factor for "Blood loss".</ManosabaSettings_narehateBloodHealFactor_Desc_1_Disable>
    <!-- <ManosabaSettings_narehateBloodHealFactor_Desc_2>• 作为对比，"失血"的默认愈合系数为 33.3% 每天 (不受天赋、特性、基因、人造部件影响)</ManosabaSettings_narehateBloodHealFactor_Desc_2> -->
    <ManosabaSettings_narehateBloodHealFactor_Desc_2>• For comparison, the default healing rate for "Blood loss" is 33.3% per day (unaffected by traits, genes, or artificial parts).</ManosabaSettings_narehateBloodHealFactor_Desc_2>
    <!-- <ManosabaSettings_narehateBloodHealFactor_Desc_3>• 但是默认愈合会在任意流血状态时停止，而本系数提供的愈合效果在流血时保持生效</ManosabaSettings_narehateBloodHealFactor_Desc_3> -->
    <ManosabaSettings_narehateBloodHealFactor_Desc_3>• However, default healing stops while bleeding, whereas the healing effect provided by this factor remains active even while bleeding.</ManosabaSettings_narehateBloodHealFactor_Desc_3>
    <!-- <ManosabaSettings_narehateDownedDivisor>魔女残骸倒地愈合削弱：{0} 倍</ManosabaSettings_narehateDownedDivisor> -->
    <ManosabaSettings_narehateDownedDivisor>Narehate downed divisor: / {0}</ManosabaSettings_narehateDownedDivisor>
    <!-- <ManosabaSettings_narehateDownedDivisor_Desc_1>处于倒地状态时，魔女残骸提供的自然愈合系数被削弱为原来的 {0}</ManosabaSettings_narehateDownedDivisor_Desc_1> -->
    <ManosabaSettings_narehateDownedDivisor_Desc_1>When downed, the natural healing factor provided by the narehate is reduced to {0} of the original value.</ManosabaSettings_narehateDownedDivisor_Desc_1>
    <!-- <ManosabaSettings_narehateDownedDivisor_Desc_1_Disable>魔女残骸提供的自然愈合系数不受倒地影响</ManosabaSettings_narehateDownedDivisor_Desc_1_Disable> -->
    <ManosabaSettings_narehateDownedDivisor_Desc_1_Disable>The natural healing factor provided by the narehate is unaffected by being downed.</ManosabaSettings_narehateDownedDivisor_Desc_1_Disable>
    <!-- <ManosabaSettings_narehateDownedDivisor_Desc_2>• 此系数用于缓解由于魔女残骸快速自愈导致倒地时间过短的问题</ManosabaSettings_narehateDownedDivisor_Desc_2> -->
    <ManosabaSettings_narehateDownedDivisor_Desc_2>• This factor is used to mitigate the issue of narehates having too short a downed duration due to rapid self-healing.</ManosabaSettings_narehateDownedDivisor_Desc_2>
    <!-- <ManosabaSettings_postHealMultiplier>魔女疗愈后处理系数：{0} 倍</ManosabaSettings_postHealMultiplier> -->
    <ManosabaSettings_postHealMultiplier>Witch healing post-process factor: {0}x</ManosabaSettings_postHealMultiplier>
    <!-- <ManosabaSettings_postHealMultiplier_Desc_1>{YUKI}和其他半魔女状态的生物获得 {0} 的魔女残骸自愈效果</ManosabaSettings_postHealMultiplier_Desc_1> -->
    <ManosabaSettings_postHealMultiplier_Desc_1>{YUKI} and other entities in a partial witch state receive {0}x the narehate self-healing effect.</ManosabaSettings_postHealMultiplier_Desc_1>
    <!-- <ManosabaSettings_postHealMultiplier_Desc_1_Disable>{YUKI}和其他半魔女状态的生物不应用魔女残骸自愈效果</ManosabaSettings_postHealMultiplier_Desc_1_Disable> -->
    <ManosabaSettings_postHealMultiplier_Desc_1_Disable>{YUKI} and other entities in a partial witch state do not apply the narehate self-healing effect.</ManosabaSettings_postHealMultiplier_Desc_1_Disable>
    <!-- <ManosabaSettings_postHealMultiplier_Desc_2>• 此时符合条件生物额外获得每日 {0} 点伤口自然愈合系数和 {1}% 点失血自然愈合系数</ManosabaSettings_postHealMultiplier_Desc_2> -->
    <ManosabaSettings_postHealMultiplier_Desc_2>• Eligible entities receive an additional {0} hp/day wound natural healing factor and {1}%/day blood loss natural healing factor.</ManosabaSettings_postHealMultiplier_Desc_2>
    <!-- <ManosabaSettings_postHealMultiplier_Desc_2_Disable>• 此时魔女残骸自愈效果仅应用于具有魔女残骸状态的生物</ManosabaSettings_postHealMultiplier_Desc_2_Disable> -->
    <ManosabaSettings_postHealMultiplier_Desc_2_Disable>• Narehate self-healing effect applies only to entities with the narehate state.</ManosabaSettings_postHealMultiplier_Desc_2_Disable>
    <!-- <ManosabaSettings_ResetHealingTab>重置本页设置为默认值</ManosabaSettings_ResetHealingTab> -->
    <ManosabaSettings_ResetHealingTab>Reset this page to defaults</ManosabaSettings_ResetHealingTab>


    <!-- Ritual Tab -->
    <!-- <ManosabaSettings_NBw_title>魔女残骸洗脑仪式相关设置</ManosabaSettings_NBw_title> -->
    <ManosabaSettings_NBw_title>Narehate brainwashing ritual settings</ManosabaSettings_NBw_title>
    <!-- <ManosabaSettings_NBw_mutantFullCircle>• 魔女残骸控制时间上限：{0} 天</ManosabaSettings_NBw_mutantFullCircle> -->
    <ManosabaSettings_NBw_mutantFullCircle>• Narehate control duration limit: {0} days</ManosabaSettings_NBw_mutantFullCircle>
    <!-- <ManosabaSettings_NBw_mutantFullCircle_Desc_1>- 此系数决定了魔女残骸的洗脑控制时间上限</ManosabaSettings_NBw_mutantFullCircle_Desc_1> -->
    <ManosabaSettings_NBw_mutantFullCircle_Desc_1>- Determines the maximum duration for brainwashing control of a narehate.</ManosabaSettings_NBw_mutantFullCircle_Desc_1>
    <!-- <ManosabaSettings_NBw_mutantFullCircle_Desc_2>- 拥有魔女残骸状态的生物可通过仪式"魔女残骸洗脑"在一定时间内转化为可受控的对象</ManosabaSettings_NBw_mutantFullCircle_Desc_2> -->
    <ManosabaSettings_NBw_mutantFullCircle_Desc_2>- Entities in the narehate state can be converted into controllable subjects for a certain period via the "Narehate brainwashing ritual".</ManosabaSettings_NBw_mutantFullCircle_Desc_2>
    <!-- <ManosabaSettings_NBw_mutantFullCircle_Desc_3>- 对于处于控制状态的魔女残骸，其剩余控制时间可通过相同仪式延长至不超过此上限</ManosabaSettings_NBw_mutantFullCircle_Desc_3> -->
    <ManosabaSettings_NBw_mutantFullCircle_Desc_3>- For a narehate already under control, the remaining control time can be extended via the same ritual, up to this limit.</ManosabaSettings_NBw_mutantFullCircle_Desc_3>
    <!-- <ManosabaSettings_Sabbat_title>魔女安息仪式相关设置</ManosabaSettings_Sabbat_title> -->
    <ManosabaSettings_Sabbat_title>Witches' Sabbath ritual settings</ManosabaSettings_Sabbat_title>
    <!-- <ManosabaSettings_Sabbat_thresholdMinusOne>• 品质偏移 -1 阈值：{0}%</ManosabaSettings_Sabbat_thresholdMinusOne> -->
    <ManosabaSettings_Sabbat_thresholdMinusOne>• Quality offset -1 threshold: {0}%</ManosabaSettings_Sabbat_thresholdMinusOne>
    <!-- <ManosabaSettings_Sabbat_thresholdZero>• 品质偏移 0 阈值：{0}%</ManosabaSettings_Sabbat_thresholdZero> -->
    <ManosabaSettings_Sabbat_thresholdZero>• Quality offset 0 threshold: {0}%</ManosabaSettings_Sabbat_thresholdZero>
    <!-- <ManosabaSettings_Sabbat_thresholdPlusOne>• 品质偏移 +1 阈值：{0}%</ManosabaSettings_Sabbat_thresholdPlusOne> -->
    <ManosabaSettings_Sabbat_thresholdPlusOne>• Quality offset +1 threshold: {0}%</ManosabaSettings_Sabbat_thresholdPlusOne>
    <!-- <ManosabaSettings_Sabbat_thresholds_Desc_1>- 这些阈值决定了魔女安息仪式中召唤出{YUKI}的装备品质偏移效果与仪式品质的对应关系</ManosabaSettings_Sabbat_thresholds_Desc_1> -->
    <ManosabaSettings_Sabbat_thresholds_Desc_1>- These thresholds determine the correlation between ritual quality and the quality offset of equipment summoned with {YUKI} during the Witches' Sabbath.</ManosabaSettings_Sabbat_thresholds_Desc_1>
    <!-- <ManosabaSettings_Sabbat_thresholds_Desc_2>- 仪式品质高于对应阈值时，召唤的装备品质相对消耗献祭物品品质应用对应的偏移效果</ManosabaSettings_Sabbat_thresholds_Desc_2> -->
    <ManosabaSettings_Sabbat_thresholds_Desc_2>- When ritual quality exceeds the corresponding threshold, the summoned equipment quality receives the corresponding offset relative to the quality of the sacrificed item.</ManosabaSettings_Sabbat_thresholds_Desc_2>
    <!-- <ManosabaSettings_Sabbat_thresholds_Desc_3>- 例如使用 极佳(+4) 品质的仪式剑，以 86% (默认阈值时+1) 的仪式质量，召唤出的{YUKI}会持有 大师(+5) 品质的装备</ManosabaSettings_Sabbat_thresholds_Desc_3> -->
    <ManosabaSettings_Sabbat_thresholds_Desc_3>- For example, using an Excellent (+4) Ritual Sword with 86% ritual quality (default +1 threshold) will summon {YUKI} holding Masterwork (+5) equipment.</ManosabaSettings_Sabbat_thresholds_Desc_3>
    <!-- <ManosabaSettings_ResetRitualTab>重置本页设置为默认值</ManosabaSettings_ResetRitualTab> -->
    <ManosabaSettings_ResetRitualTab>Reset this page to defaults</ManosabaSettings_ResetRitualTab>
    
    
    <!-- Misc Tab -->
    <!-- <ManosabaSettings_inverseTemperature>魔女因子随机参数：{0}</ManosabaSettings_inverseTemperature> -->
    <ManosabaSettings_inverseTemperature>Witch factor random parameter: {0}</ManosabaSettings_inverseTemperature>
    <!-- <ManosabaSettings_inverseTemperature_Desc_1>• 此参数影响通过随机分布选择目标时的选择倾向</ManosabaSettings_inverseTemperature_Desc_1> -->
    <ManosabaSettings_inverseTemperature_Desc_1>• This parameter affects the selection tendency when choosing targets via random distribution.</ManosabaSettings_inverseTemperature_Desc_1>
    <!-- <ManosabaSettings_inverseTemperature_Desc_2>• 数值较大时，随机分布倾向于选择"与其他殖民者关系更差"的殖民者；数值较小时，倾向于选择"与其他殖民者关系更好"的殖民者；\n绝对值越小越接近平均分布</ManosabaSettings_inverseTemperature_Desc_2> -->
    <ManosabaSettings_inverseTemperature_Desc_2>• Larger values favor colonists with "worse relations with others"; smaller values favor those with "better relations"; smaller absolute values approach a uniform distribution.</ManosabaSettings_inverseTemperature_Desc_2>
    <!-- <ManosabaSettings_inverseTemperature_Desc_3>• 随机选择器使用玻尔兹曼分布，将"对于其他殖民者关系之和"归一化视为能量，此参数即为逆温度</ManosabaSettings_inverseTemperature_Desc_3> -->
    <ManosabaSettings_inverseTemperature_Desc_3>• The random selector uses a Boltzmann distribution, normalizing the "sum of relations with others" as energy; this parameter is the inverse temperature.</ManosabaSettings_inverseTemperature_Desc_3>
    <!-- <ManosabaSettings_inverseTemperature_Desc_4>• 设定上，魔女因子的传播和"心情"相关，那么这里通过关系总和来量化传播概率似乎很合理 :D</ManosabaSettings_inverseTemperature_Desc_4> -->
    <ManosabaSettings_inverseTemperature_Desc_4>• Lore-wise, since the spread of the witch factor relates to "spirit", quantifying spread probability via the sum of relations seems reasonable :D</ManosabaSettings_inverseTemperature_Desc_4>
    <!-- <ManosabaSettings_allowMutantAssignTab>为魔女残骸启用方案管理</ManosabaSettings_allowMutantAssignTab> -->
    <ManosabaSettings_allowMutantAssignTab>Allow Assign Tab for Narehate Mutants</ManosabaSettings_allowMutantAssignTab>
    <!-- <ManosabaSettings_allowMutantAssignTab_Desc_1>• 启用时，魔女残骸的变种人将加入"方案"管理界面。</ManosabaSettings_allowMutantAssignTab_Desc_1> -->
    <ManosabaSettings_allowMutantAssignTab_Desc_1>• When enabled, Narehate mutants will be added to the "Assign" management tab.</ManosabaSettings_allowMutantAssignTab_Desc_1>
    <!-- <ManosabaSettings_allowMutantAssignTab_Desc_2>• 改变此选项时，需要重启游戏生效。</ManosabaSettings_allowMutantAssignTab_Desc_2> -->
    <ManosabaSettings_allowMutantAssignTab_Desc_2>• Disabled by default. Changing this option requires restarting the game to take effect.</ManosabaSettings_allowMutantAssignTab_Desc_2>
    <!-- <ManosabaSettings_disableTale>禁用月代雪对话使用故事</ManosabaSettings_disableTale> -->
    <ManosabaSettings_disableTale>Disable Yuki dialogue using story</ManosabaSettings_disableTale>
    <!-- <ManosabaSettings_disableTale_Desc_1>• 用于拯救存档中殖民者日志已经存在错误记录时，对话使用故事记录生成内容的崩溃问题，正常使用无需禁用。</ManosabaSettings_disableTale_Desc> -->
    <ManosabaSettings_disableTale_Desc_1>• Used to fix crashes caused by dialogue using story records when there are already error logs in the save file. No need to disable normally.</ManosabaSettings_disableTale_Desc_1>
    <!-- <ManosabaSettings_ResetMiscTab>重置本页设置为默认值</ManosabaSettings_ResetMiscTab> -->
    <ManosabaSettings_ResetMiscTab>Reset this page to defaults</ManosabaSettings_ResetMiscTab>
</LanguageData>